@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    outline: 1px solid red;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.modal-outer-container.in.visible {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-main-container.in.visible {
    transform: translateY(0%);
    opacity: 1;
}
